.content {
    margin-left: 1em;
    margin-right: 1em;
    grid-template-columns: 15% 65% 20%;
    display: grid;
}

.logo {
    height: 100px;
    width: 200px;
    margin-left: 30px;
    margin-top: 20px;
}

.nav {
    border-style: solid;
    border-color: #03a9fc;
    border-width: 00.1em;
    border-radius: 1em;
}

.nav-block {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    color: #03a9fc;
}

.nav-block:hover {
    background-color: aqua;
    cursor: pointer;
    color: #2943d6;
}

.nav-block .inside-block {
    border-style: solid none solid none;
    border-color: #03a9fc;
    border-width: 0.05em;
}

.nav-block .top-block {
    border-style: none none solid none;
    border-color: #03a9fc;
    border-width: 0.05em;
}

.nav-block .top-block:hover {
    border-radius: 1em 1em 0em 0em;
}

.nav-block .bottom-block {
    border-style: solid none none none;
    border-color: #03a9fc;
    border-width: 0.05em;
}

.nav-block .bottom-block:hover {
    border-radius: 0em 0em 1em 1em;
}